
.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}


.box1::before{
    
    justify-content: center;
    align-items: center;
    content: '';
    /* position: absolute; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: lime;
    animation: spinner 0.7s linear infinite;
}


@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}
