

.spinner{
    display: flex;
    justify-content: center;
    animation: spinner 6.0s linear infinite;
    
}

.spinnerImg{
 border-radius: 50%;
}


@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}