
.header{
    background-color: black;
    display: flex;
    height: 10vh;
    align-items: center;
}

.header a{
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}
